{% extends 'base.html' %}
{% load static %}
{% block content %}



<section class="section" id="resume">
    <div class="container">
        <h2 class="mb-5"><span class="text-danger">My</span> Resume</h2>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                   <div class="card-header">
                        <div class="mt-2">
                            <h4> Work Experience</h4>
                            <span class="line"></span>  
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="title text-danger">11/2021 - Present</h6>
                        <P>BackEnd Developer</P>
                        <P class="subtitle">Defined and maintained databases to deliver responsiveness to data client request.</P>
                        <P class="subtitle">Oversee back-end development using Django to maintain website integrity, security and efficiency.</P>
                        <hr>
                        <h6 class="title text-danger">09/2020 - 07/2021</h6>
                        <P>Junior Web Developer</P>
                        <P class="subtitle">Utilize such technologies as Python, HTML5, JavaScript and Django to develop new applications.</P>
                        <P class="subtitle">Build databases and table structures following architecture methodology for web applications.</P>
                        <hr>
                        <h6 class="title text-danger">03/2019 - 08/2020</h6>
                        <P>Junior Web Developer</P>
                        <P class="subtitle">Developed page layouts and navigation tools that met or exceeded user expectations.</P>
                        <P class="subtitle">Built website interface with HTML and CSS.</P>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                   <div class="card-header">
                        <div class="mt-2">
                            <h4>Education</h4>
                            <span class="line"></span>  
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="title text-danger">2021 - 2023</h6>
                        <P>Masters of Business Adminstration</P>
                        <P class="subtitle"></P>
                        <hr>
                        <h6 class="title text-danger">2014 - 2018</h6>
                        <P>Bachelors of Computer Computer Science</P>
                        <P class="subtitle"></P>

                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                   <div class="card-header">
                        <div class="pull-left">
                            <h4 class="mt-2">Skills</h4>
                            <span class="line"></span>  
                        </div>
                    </div>
                    <div class="card-body pb-2">
                       <h6>Python</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 97%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Django</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Html</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Css</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Javascript</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Bootstrap</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                   <div class="card-header">
                        <div class="pull-left">
                            <h4 class="mt-2">Languages</h4>
                            <span class="line"></span>  
                        </div>
                    </div>
                    <div class="card-body pb-2">
                       <h6>English</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-dark text-center">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-lg-3">
                <div class="row ">
                    <div class="col-5 text-right text-light border-right py-3">
                        <div class="m-auto"><i class="ti-alarm-clock icon-xl"></i></div>
                    </div>
                    <div class="col-7 text-left py-3">
                        <h1 class="text-danger font-weight-bold font40">200</h1>
                        <p class="text-light mb-1">Hours Worked</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row">
                    <div class="col-5 text-right text-light border-right py-3">
                        <div class="m-auto"><i class="ti-layers-alt icon-xl"></i></div>
                    </div>
                    <div class="col-7 text-left py-3">
                        <h1 class="text-danger font-weight-bold font40">50</h1>
                        <p class="text-light mb-1">Project Finished</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row">
                    <div class="col-5 text-right text-light border-right py-3">
                        <div class="m-auto"><i class="ti-face-smile icon-xl"></i></div>
                    </div>
                    <div class="col-7 text-left py-3">
                        <h1 class="text-danger font-weight-bold font40">30</h1>
                        <p class="text-light mb-1">Happy Clients</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row">
                    <div class="col-5 text-right text-light border-right py-3">
                        <div class="m-auto"><i class="ti-heart-broken icon-xl"></i></div>
                    </div>
                    <div class="col-7 text-left py-3">
                        <h1 class="text-danger font-weight-bold font40">2k</h1>
                        <p class="text-light mb-1">Coffee Drinked</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="service">
    <div class="container">
        <h2 class="mb-5 pb-4"><span class="text-danger">My</span> Services</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5">
                   <div class="card-header has-icon">
                        <i class="ti-harddrives text-danger" aria-hidden="true"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title text-dark">Server</h5>
                        <P class="subtitle">Developing server-side logic, definition, and maintenance of the central database</P>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5">
                   <div class="card-header has-icon">
                        <i class="ti-world text-danger" aria-hidden="true"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title text-dark">Web</h5>
                        <P class="subtitle">Ensure high performance and responsiveness to front-end web applications</P>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5">
                   <div class="card-header has-icon">
                        <i class="ti-server text-danger" aria-hidden="true"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title text-dark">Data</h5>
                        <P class="subtitle">Recording data and reporting it to proper parties, such as clients or leadership</P>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5">
                   <div class="card-header has-icon">
                        <i class="ti-layout-slider text-danger" aria-hidden="true"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title text-dark">Code</h5>
                        <P class="subtitle">Compile and analyze data, processes and codes to troubleshoot problems and identify areas for improvement</P>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5">
                   <div class="card-header has-icon">
                        <i class="ti-cloud-up text-danger" aria-hidden="true"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title text-dark">Ideas</h5>
                        <P class="subtitle">Developing ideas for new programs, products, or features by monitoring industry developments and trends</P>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mb-5">
                   <div class="card-header has-icon">
                        <i class="ti-support text-danger" aria-hidden="true"></i>
                    </div>
                    <div class="card-body px-4 py-3">
                        <h5 class="mb-3 card-title text-dark">Teamwork</h5>
                        <P class="subtitle">Participating in continuing education and training to remain current on best practices, learn new programming languages, and better assist other team members</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-dark py-5">
    <div class="container text-center">
        <h2 class="text-light mb-5 font-weight-normal">I Am Available For FreeLance</h2>
        <a href="{% url 'contact' %}">
          <button class="btn bg-primary w-lg" >Hire me</button>
        </a>
    </div>
</section>



{% endblock  %}